body {
  background-color: #f0f0f0;
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 10px 0;
  margin: 0;
}
header {
  background-color: pink;
  height: 150px;
}
.heading {
  height: 100px;
  width: 960px;
  background-color: limegreen;
  margin: 0 auto;
}

.navbar {
  height: 50px;
  width: 960px;
  background-color: violet;
  margin: 0 auto;
}

.contents {
  width: 960px;
  background-color: skyblue;
  margin: 0 auto;
}
.left-content {
  height: 400px;
  width: 640px;
  background-color: #ffffff;
  float: left;
}

.right-content {
  height: 370px;
  width: 320px;
  background-color: #f9f9f9;
  float: left;
}

footer {
  background-color: pink;
  height: 50px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: block;
}
